<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleComponent.css">
    <title>Ödev 1</title>
</head>
<body>
    <header class="head">
        <img class="logo" src="../assets/ghost.png"/>
        <nav class="nav-items">
            <ul class="list-items">
                <li class="list-item"><a href="../index.html">Ana Sayfa</a></li>
                <li class="list-item"><a href="Hakkımda.html">Hakkımda</a></li>
                <li class="list-item"><a href="Listeler.html">Listeler</a></li>
            </ul>
        </nav>
    </header>
    <main class="about-main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, blanditiis repudiandae doloremque laudantium dignissimos obcaecati culpa voluptate laborum error corporis similique? Officia incidunt <strong style="color: blueviolet;">maxime</strong> soluta pariatur ex praesentium ad porro aperiam tenetur! Laborum, perspiciatis alias incidunt cupiditate modi odit! 
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi facere, excepturi reprehenderit corporis quae beatae <em style="color: purple; font-size: 25px;">maxime</em> inventore nostrum ad rem corrupti sapiente? Assumenda facere qui illo unde officia nulla.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ratione hic ullam maxime rem ducimus accusantium, iste labore velit autem omnis vitae placeat, laboriosam animi repellendus veritatis! Alias unde voluptate facilis pariatur. Vitae vel repudiandae alias voluptas quisquam, iusto nihil sequi optio recusandae dolor necessitatibus incidunt repellendus, dolore culpa inventore, corrupti consequuntur exercitationem tempore natus. Repudiandae sit ipsa dolorem omnis officiis consectetur, animi, maxime veritatis aliquam non ea laudantium. Itaque asperiores aut debitis culpa accusantium aliquam cum nulla magni hic dolorum minima reprehenderit at nisi, temporibus quod neque unde consectetur ipsam aliquid repellendus numquam. <strong style="color: green;">Id necessitatibus sit reiciendis dolor quasi?</strong>
        </p>
    </main>

</body>
</html>