<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleComponent.css">
    <title>Ödev 1</title>
</head>
<body>
    <header class="head">
        <img class="logo" src="../assets/ghost.png"/>
        <nav class="nav-items">
            <ul class="list-items">
                <li class="list-item"><a href="../index.html">Ana Sayfa</a></li>
                <li class="list-item"><a href="Hakkımda.html">Hakkımda</a></li>
                <li class="list-item"><a href="Listeler.html">Listeler</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-list-of-animes">
        <ul class="items">
            <li class="item">
                <p>Death note</p>
                <img src="../assets/d1.jpeg" alt="">
            </li>
            <li class="item">
                <p>Death note</p>
                <img src="../assets/d1.jpeg" alt="">
            </li>
            <li class="item">
                <p>Death note</p>
                <img src="../assets/d1.jpeg" alt="">
            </li>
            <li class="item">
                <p>Death note</p>
                <img src="../assets/d1.jpeg" alt="">
            </li>
            <li class="item">
                <p>Death note</p>
                <img src="../assets/d1.jpeg" alt="">
            </li>
                    
        </ul>
    </main>
</body>
</html>